<div class="center-form">
  <form class="log-in-form">
    <h4 class="text-center">Log in with your email account</h4>
      <%= form_tag login_path do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag "Log In" %>
      <% end %>
  </form>
  <p class="text-center"><a href="#">Forgot your password?</a></p>
  <p class="text-center"><%= link_to "Sign Up", new_user_path %></p>
</div>
