<div class="center-form">
  <form class="log-in-form">
    <h4 class="text-center">Sign Up for a New Account</h4>
      <%= form_for @user do |f| %>
        <%= f.label :full_name %>
        <%= f.text_field :full_name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Create Account" %>
      <% end %>
  </form>
</div>
