<h3>Welcome, <%= current_user.full_name %></h3>
<%= link_to "Sort by Fantasy Team", user_path(current_user, sort: "fantasy_team") %>
<div class="grid-x">
  <div class="8 cells">
    <table class="index-table">
      <th>Player Name</th>
      <th>Fantasy Team</th>
      <th></th>
      <% @players.each do |player| %>
        <tr class=player_<%= player.id %>>
          <td><%= link_to player.display_name, player_path(player) %></td>
          <td><%= link_to player.fantasy_team.name, fantasy_team_path(player.fantasy_team) %></td>
          <td><%= link_to "Remove from Favs", player_user_favorite_path(player, @user_favorites.where("player_id=#{player.id} AND user_id=#{current_user.id}") , {:page => params[:page], :team => params[:team], :position => params[:position], :view => "show"}), method: :delete  %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
