<h3>Welcome, <%= current_user.full_name %></h3>

<div class="grid-x">
  <div class="8 cells">
    <table class="index-table">
      <th>Player Name</th>
      <th>Fantasy Team</th>
      <th></th>
      <% current_user.players.each do |player| %>
        <tr class=player_<%= player.id %>>
          <td><%= link_to player.display_name, player_path(player) %></td>
          <td><%= link_to player.fantasy_team.name, fantasy_team_path(player.fantasy_team) %></td>
          <% @player = player %>
          <%= render "players/favorite" %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
