<h3><%= @fantasy_team.name %></h3>
<h4><%= @fantasy_team.owner %></h4>

<div class="grid-x">
  <div class="medium-6 cells">

    <table>
      <th>Player Name</th>
      <th>Position</th>
      <th>Team</th>
      <% @fantasy_team.players.each do |player| %>
      <tr class=player_<%= player.id %>>
        <td><%= link_to player.display_name, player_path(player) %></td>
        <td><%= player.position %></td>
        <td><%= player.pro_team %></td>
      </tr>
      <% end %>
    </table>
  </div>


</div>
