<h3>All Players</h3>
<%= link_to "Sort by Fantasy Team", players_path(sort: "fantasy_team") %>
<div class="grid-x">
  <div class="8 cells">
    <table class="index-table">
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
      <th>Fantasy Team</th>
      <th></th>
      <% @players.each do |player| %>
      <tr class=player_<%= player.id %>>
        <td><%= link_to player.display_name, player_path(player) %></td>
        <td><%= player.pro_team %></td>
        <td><%= player.position %></td>
        <td><%= link_to player.fantasy_team.name, fantasy_team_path(player.fantasy_team) %></td>
        <% @player = player %>
        <%= render "favorite" %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="pagination">
  <%= will_paginate @players %>
</div>
