<h3>All Players</h3>

<div class="grid-x grid-padding">
  <div class="medium-7 cells">
    <table class="index-table">
      <th>Name</th>
      <th>Team</th>
      <th>Position</th>
      <th>Fantasy Team</th>
      <th></th>
      <% @players.each do |player| %>
      <tr class=player_<%= player.id %>>
        <td><%= link_to player.display_name, player_path(player) %></td>
        <td><%= player.pro_team %></td>
        <td><%= player.position %></td>
        <td><%= link_to player.fantasy_team.name, fantasy_team_path(player.fantasy_team) %></td>
        <% @player = player %>
        <%= render "favorite" %>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="small-1 cells">
  </div>
  <div class="small-2 cells">
    <h5>Filter Players</h5>
    <%= form_tag(players_path, method: :get) do %>
        <%= label_tag :position %>
        <%= select_tag(:position, options_for_select([[""],["QB"],["RB"],["WR"],["TE"]] , params[:position])) %>
        <%= label_tag :fantasy_team %>
        <%= select_tag(:team, options_for_select(fantasy_teams_drop_down , params[:team])) %>
        <%= label_tag :sort %>
        <%= select_tag(:sort, options_for_select(sort_methods, params[:sort])) %>
        <%= submit_tag "Apply" %>
    <% end %>
  </div>
</div>
<div class="pagination">
  <%= will_paginate @players %>
</div>
