<h3><%= @player.display_name %></h3>
<%= link_to "Delete", player_path, method: :delete %>

  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell">
      <a class="twitter-timeline" data-height="450" href="https://twitter.com/<%=@player.twitter_handle.sub("@","")%>" data-screen-name="<%=@player.twitter_handle.sub("@","")%>"></a>
    </div>

    <div class="medium-6 cell">
      <div class="grid-y align-center">
        <div class="grid-x align-center">

      <table>
        <th>Team</th>
        <th>Jersey Number</th>
        <th>Jersey Number</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Date of Birth</th>
        <th>College</th>
        <th>Fantasy Team</th>
        <tr>
        <td><%= @player.pro_team %></td>
        <td><%= @player.jersey %></td>
        <td><%= @player.position %></td>
        <td><%= @player.height %></td>
        <td><%= @player.weight %></td>
        <td><%= @player.dob %></td>
        <td><%= @player.college %></td>
        <td><%= link_to @player.fantasy_team.name, fantasy_team_path(@player.fantasy_team) %></td>
        </tr>
      </table>
      <%= render partial: "stats" %>
    </div>
  </div>

  </div>
  </div>
