<h1><%= @player.display_name %></h1>

<div class="player-card">
  <ul>
    <li>Team: <%= @player.pro_team %></li>
    <li>Jersey Number: <%= @player.jersey %></li>
    <li>Position: <%= @player.position %></li>
    <li>Height: <%= @player.height %></li>
    <li>Weight: <%= @player.weight %></li>
    <li>Date of Birth: <%= @player.dob %></li>
    <li>College: <%= @player.college %></li>
  </ul>
</div>
